* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

html {
    font-family: 'Overpass', sans-serif;
}

.hiden {
    display: none;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background-color: var(--very-dark-blue);
}

.card {
    background-color: var(--dark-blue);
    width: 330px;
    padding: 25px;
    border-radius: 15px;
}

.rating {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 360px;
}

h1 {
    color: var(--white);
    font-size: 25px;
}

.txt {
    color: var(--light-grey);
}

ol {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

li {
    list-style: none;
}   

li button {
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: hsl(213, 15%, 23%);
    color: var(--light-grey);
}

li button:hover {
    background-color: var(--orange);
    color: var(--white);
    cursor: pointer;
    transition: all 500ms ease-in-out;
}

li button:focus {
    background-color: var(--medium-grey);
    color: var(--white);
}

.rounded {
    border-radius: 50%;
}

.rating img {
    height: 40px;
    background-color: hsl(213, 15%, 23%); 
    padding: 13px;
}

#submit-btn {
    border: none;
    align-self: center;
    width: 100%;
    height: 40px;
    border-radius: 25px;
    font-family: 'Overpass', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--white);
    background-color: var(--orange);
}

#submit-btn:hover {
    color: var(--orange);
    background-color: var(--white);
    transition: all 500ms ease-in-out;
    cursor: pointer;
}

.thanks {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-align: center;
    height: 360px;
}

.wraper {
    background-color: hsl(213, 15%, 23%);
    height: 35px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    border-radius: 25px;
}

.ratio {
    color: var(--orange);
}

@media (min-width: 1000px) {
    .card {
        width: 360px;
        border-radius: 25px;
    }
}